:root {
  --clr-primary-red: 0, 100%, 67%;
  --clr-primary-orange: 39, 100%, 56%;
  --clr-primary-teal: 166, 100%, 37%;
  --clr-primary-blue: 234, 85%, 45%;

  --clr-grad-primary: to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%);
  --clr-grad-secondary: to top, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0);

  --clr-neutral-100: 0, 0%, 100%;
  --clr-neutral-200: 221, 100%, 96%;
  --clr-neutral-300: 241, 100%, 89%;
  --clr-neutral-700: 224, 30%, 27%;

  --ff-primary: 'Hanken Grotesk', sans-serif;

  --fw-medium: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-300: clamp(15px, 4vw, 16px);
  --fs-400: clamp(16px, 4.3vw, 18px);
  --fs-500: clamp(18px, 4.8vw, 20px);
  --fs-600: clamp(18px, 4.8vw, 24px);
  --fs-700: clamp(24px, 6.4vw, 30px);
  --fs-800: clamp(54px, 14.4vw, 70px);

}

html {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  text-align: center;
}

h1,
h2,
h3,
p,
a {
  max-width: 35ch;
}

.center {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  justify-content: center;
}

@media (min-width: 750px) {
  .center {
    align-items: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 0;
  box-shadow: none;
}

@media (min-width: 750px) {
  .wrapper {
    flex-direction: row;
    border-radius: 2rem;
    box-shadow: 0 0 1rem hsla(var(--clr-neutral-700), 0.2);
  }
}

.card {
  display: grid;
  align-content: start;
  gap: 2rem;
  width: clamp(275px, 375px, 375px);
  padding: 2rem;
}

.result-card {
  border-radius: 0 0 2rem 2rem;
  background-image: linear-gradient(var(--clr-grad-primary));
  color: hsl(var(--clr-neutral-300));
}

@media (min-width: 750px) {
  .result-card {
    border-radius: 2rem;
  }
}

.score-badge {
  width: 8.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0px;
  line-height: 1;
  background-image: linear-gradient(var(--clr-grad-secondary));
}

@media (min-width: 750px) {
  .score-badge {
    width: 12rem;
  }
}

.btn {
  width: 100%;
  padding-block: 20px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  color: hsl(var(--clr-neutral-100));
  background-color: hsl(var(--clr-neutral-700));
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.btn:hover {
  background-image: linear-gradient(var(--clr-grad-primary));
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fw-med {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

.txt-left {
  text-align: left;
}

.grid {
  display: grid;
  gap: 1rem;
}

.score-component {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-radius: 16px;
  line-height: 1;
}

.icon-title {
  display: flex;
  gap: 14px;
}

.clr-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}

.clr-neutral-300 {
  color: hsl(var(--clr-neutral-300));
}

.clr-neutral-700 {
  color: hsl(var(--clr-neutral-700));
}

.clr-neutral-700-light {
  color: hsla(var(--clr-neutral-700), 0.2);
}

.clr-primary-red {
  color: hsl(var(--clr-primary-red));
}

.clr-primary-orange {
  color: hsl(var(--clr-primary-orange));
}

.clr-primary-teal {
  color: hsl(var(--clr-primary-teal));
}

.clr-primary-blue {
  color: hsl(var(--clr-primary-blue));
}

.bg-primary-red-light {
  background-color: hsla(var(--clr-primary-red), 0.1);
}

.bg-primary-orange-light {
  background-color: hsla(var(--clr-primary-orange), 0.1);
}

.bg-primary-teal-light {
  background-color: hsla(var(--clr-primary-teal), 0.1);
}

.bg-primary-blue-light {
  background-color: hsla(var(--clr-primary-blue), 0.1);
}

/* 
  styling reset 
  from Andy Bell
  https://andy-bell.co.uk/a-modern-css-reset/
  **************************************************************************
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}